# Theory Questions

 1  What are data structures, and why are they important?

1 Data structures are the way to organize the data in efficient way to store and retrieve data very fast.

It is important because


*   Efficient data management.
*   Optimized performance .


*   Code clearity and maintainability.
*   Reusability

2 Explain the difference between mutable and immutable data types with examples?

2 ***Mutable Data types*** are data types which allow to change their values(update,modify,add) after they have been created .

Eg>

*   Dictionary
*   List



***Immutable Data types*** are data types which doesn't allow to change their value(update,modify,add) after they have been created.

Eg>

*   String
*   Tuple

3  What are the main differences between lists and tuples in Python?

3 The main differences betwenn lists and tuples in Python are:-



*   List is denoted by [] (Square braces) while Tuple is denoted by ()(Parenthesis braces.
*  List is mutable data type in which can change the values(update,modify,add) but in Tuple is immutable data type in which cannot change the values (update,modify,add).

4  Describe how dictionaries store data?

4 Dictionaries store data in form of keys values pair in which keys immutable but values mutable .

Eg>

dict={1:"Ankit",2:"Rolex"}

This is the dictionary we created in which 1,2 are keys and "Ankit","Rolex" are values.

5  Why might you use a set instead of a list in Python?

5 I use set instead of a list in Python because set is unorder data type in which no duplicate elements are allowed while you printing the set and there is not indexing and slicing in the set so if i want to work with unique element so i use set meanwhile list have not these features.

6  What is a string in Python, and how is it different from a list?

6 ***String*** is the data type in which sequence of characters that is used represent and manipulate textual data .

And it enclosed by ""(double quotes) or ''(single quotes)

String data type is immutable data type.

The difference between the string and list are:-



*   List is denoted or created by square braces [] while string is denoted or created by ""(double quotes ) or '' (single quotes)
*   List is mutable data type or data struture while string is immutable data type or data structure

7  How do tuples ensure data integrity in Python?

7 Tuples ensure data integrity in Python by immutablity .

This mean that we can modify ,update ,add element to the tuple . Tuple once created when can do anything with this ,therefore the tuple ensures data integrity.

8  What is a hash table, and how does it relate to dictionaries in Python?

8 A hash table is a data structure that implements an associative array, also known as a map or dictionary. It stores data in key-value pairs, where each key maps to a specific value.

Python's built-in dict type is implemented using hash tables. When you create a dictionary in Python, you are essentially using a hash table under the hood.

9  Can lists contain different data types in Python?

9 Yes lists contain different data types in Python.

Eg>

l=[1,2,3,"rolex",(1,2)]

10 Explain why strings are immutable in Python?

10 Python strings are immutable, meaning that once a string object is created, its content cannot be changed. Any operation that appears to modify a string actually creates a new string object with the desired changes, and the original string remains untouched.

11  What advantages do dictionaries offer over lists for certain tasks?

11 Dictionaries offer advantages lists for certain task are in the following :-

*   Fast retreival
*   Non sequential data retreival

*   Organizing and storing complex data
*   Creating logical associations between data

All are of because of dictionary stores data in unique way that key value pair.

12  Describe a scenario where using a tuple would be preferable over a list ?

12 When we want to store data that we couldn't change where we can prefer the tuple instead of list.

For Eg>

when we want to store employee id

t=(101,102,103,104,105)

13  How do sets handle duplicate values in Python?

13  Set handle duplicate values in python because it designed like this can handle only unique value whether you provide lot of same of number.

14 How does the “in” keyword work differently for lists and dictionaries?

14 "in" keyword in list used to check if the object is present or not in the list

For Eg>

l=[1,2,3,4]

2 in l    # it will return True

5 in l    # it wil return False

"in" Keyword in dictionary used to check if the key is present or not in the dictionary.

For eg>

dic={1:"Ankit",2:"Rolex"}

1 in dic #it will return True

"Ankit" in dic #it will return False

So in List the "in" is used to check the object is present or not in list while in Dictionary the "in" is used to check the key is present or not in dictionay

15 Can you modify the elements of a tuple? Explain why or why not?

15 No, we cannot modify the elements of a tuple. Because tuple is immutable data type or data structure which doesn't support mutability or item assignment.

16  What is a nested dictionary, and give an example of its use case?

16 Nested Dictionary is dictionary inside the dictionary mean that we assign a dictionary inside the dictionary .

For eg>

d={"Department_Account":{1:"Ankit"},"Department_Finance":{2:"Rolex"}}

In [ ]:
d={"Department_Account":{1:"Ankit"},"Department_Finance":{2:"Rolex"}}
d

{'Department': {1: 'Ankit'}, 'Rolex': {2: 'Rolex'}}

17 Describe the time complexity of accessing elements in a dictionary?

17 Accessing elements in a dictionary, or hash map, generally exhibits an average time complexity of O(1), which signifies constant time. This efficiency is achieved through the use of hash tables.

18  In what situations are lists preferred over dictionaries?

18 Dictionary is used where data is stored in key value pair.In dictionary there is no sequence in data storing.


But in list data is stored in sequential order and the objects /element in data is mutable.

Lists preferred over dictionaries are:-



*   Ordered collection
*   Index based access

*   Sequential processing
*   Storing related values without unique identifier.

19  Why are dictionaries considered unordered, and how does that affect data retrieval?

19 Dictionaries are considered "unordered" because, historically and by design, their primary purpose is fast, key-based access, not maintaining the order of insertion or any other sequence.

20  Explain the difference between a list and a dictionary in terms of data retrieval?

20  ***Data Retrieval in List***


*   Ordered by index
*   Access by position

*   Search complexity is O(n).

***Data Retrieval in Dictionary***


*   Unordered key vaule pairs
*   Access by key

*   Hash-based retrieval

# Practical Questions

In [ ]:
# 1 Write a code to create a string with your name and print it.
a="Rolex"
print(a)

Rolex

In [ ]:
# 2  Write a code to find the length of the string "Hello World".
str="Hello World"
len(str)

11

In [ ]:
# 3  Write a code to slice the first 3 characters from the string "Python Programming".
a="Python Programming"
a[0:3]

'Pyt'

In [ ]:
# 4 Write a code to convert the string "hello" to uppercase.
str="hello"
str.upper()

'HELLO'

In [ ]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [ ]:
# 6  Write a code to create a list with numbers 1 to 5 and print it.
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [ ]:
# 7 Write a code to append the number 10 to the list [1, 2, 3, 4].
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [ ]:
# 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [ ]:
# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a=['a','b','c','d']
a[1]

'b'

In [ ]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# 12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color=("Red","Green","Blue","Yellow")
color[1:]

('Green', 'Blue', 'Yellow')

In [ ]:
# 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15)
min(t)

5

In [ ]:
# 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
pet=("Dog","Cat","Rabbit")
pet.index("Cat")

1

In [ ]:
# 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit=("Apple","Banana","Grapes")
"Kiwi" in fruit

False

In [ ]:
# 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [ ]:
# 17 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
k={1,2,3,4,5}
k.clear()
print(k)

set()

In [ ]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
j={1,2,3,4}
j.remove(4)
j

{1, 2, 3}

In [1]:
#  19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

In [2]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
a&b

{2, 3}

In [3]:
#  21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"Name":"Rolex","Age":21,"City":"Rbl"}
d

{'Name': 'Rolex', 'Age': 21, 'City': 'Rbl'}

In [4]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={"Country":"usa",}
d["Name"]="John"
d["Age"]=25
d

{'Country': 'usa', 'Name': 'John', 'Age': 25}

In [5]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={"Name":"Alice","Age":30}
d["Name"]

'Alice'

In [8]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d.pop("age"))
d

22

{'name': 'Bob', 'city': 'New York'}

In [9]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d={"name":"Alice","city":"Paris"}
print("city" in d)
print(d["city"])

True
Paris

In [10]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=["Hi","I","am","doing","great!"]
tuple=(1,2,3,4,5,6)
dict={1:"Ajay sir",2:"Ekta maam"}
print(list)
print(tuple)
print(dict)

['Hi', 'I', 'am', 'doing', 'great!']
(1, 2, 3, 4, 5, 6)
{1: 'Ajay sir', 2: 'Ekta maam'}

In [11]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l=[34,95,24,55,89]
l=sorted(l)
l

[24, 34, 55, 89, 95]

In [12]:
# 28. Write a code to create a list with strings and print the element at the third index.
l=["I","love","my","Country"]
l[3]

'Country'

In [13]:
#  29. Write a code to combine two dictionaries into one and print the result.
d1={1:"Rolex",2:"Ankit"}
d2={3:"Vikram",4:"Amar"}
d2.update(d1)
d2

{3: 'Vikram', 4: 'Amar', 1: 'Rolex', 2: 'Ankit'}

In [14]:
# 30. Write a code to convert a list of strings into a set.
l=["Ankit","Rolex"]
set(l)

{'Ankit', 'Rolex'}